<%= form_with model: query do |form| %>
  <div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</div>  
  <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% query.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
      <% query.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
    <%= form.select :category_id, Category.all.map {|c| [c.category, c.id]}%>
    
    </div>
    <div>
    
      <%= form.submit %>
    </div>
  <% end %>
  